[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/menpo/glew.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "lib/glew_windows"]
	path = lib/glew_windows
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "lib/sfml"]
	path = lib/sfml
	url = https://github.com/SFML/SFML
[submodule "lib/mariadb-connector"]
	path = lib/mariadb-connector
	url = https://github.com/MariaDB/mariadb-connector-c.git
